:root {
    --font-family-read: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    --font-family-code: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
    --base-font-size: 13px;
    --base-color: #333;
    --base-background: #fff;
    --heading-color: var(--base-color);
}


/* Base
 * ==================================== */

* {
    word-break: break-word;
}
*, *:before, *:after {
    box-sizing: inherit;
}
html {
    font-family: var(--font-family-code);
    font-size: var(--base-font-size);
    line-height: 1.4rem;
    color: var(--base-color);
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
}
body {
    margin: 0;
    padding: 0;
    background: var(--base-background);
}
a:active, a:hover {
    outline: 0
}
a {
    color: #1e87f0;
    text-decoration: none;
    cursor: pointer
}
a:hover {
    color: #0f6ecd;
    text-decoration: underline
}
table,
table td {
    margin: 0;
    padding: 5px;
}
:not(pre)>code {
    font-size: .84rem;
    color: var(--th-color-variable);
    padding: 2px 5px;
    background: rgba(0,0,0,.05);
    border-radius: 3px;
}
pre {
    font-size: .9rem;
    line-height: 1.4em;
    -moz-tab-size: 4;
    tab-size: 4;
    overflow: auto;
    padding: 6px 9px;
    border-left: 3px solid #5e58b3;
    background: rgba(0,0,0, .03);
}
p, ul, ol, pre {
    margin: 0 0 8px 0;
}
* + p, * + ul, * + ol, * + pre {
    margin-top: 8px;
}

ul, ol {
    padding-left: 25px;
}


/* Layout
 * ==================================== */

.dt-container {
    min-width:480px;
    max-width: 1400px;
    margin: 0 auto;
    padding: 2rem 2rem 4rem;
}
.dt-row {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}
[class*='dt-col'] {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
}
.dt-col-expand {
  flex: 1;
  min-width: 1px;
}

.show {
    display: block !important;
}
.hide {
    display: none !important;
}
.dt-mobile-hide {
    display: none;
}
.dt-mobile-show {
    display: block;
}

/* Mobile only */
@media (max-width: 960px) {
    .dt-mobile-display-block {
        display: block;
    }
}

/* Tablet */
@media (min-width: 960px) {
    .dt-mobile-hide {
        display: block;
    }
    .dt-mobile-show {
        display: none;
    }

}

/* Tablet only */
@media (min-width: 960px) and (max-width: 1199px) {
    .dt-tablet-hide {
        display: none;
    }
}


/* Page
 * ==================================== */

.dt-head {
    font-family: var(--font-family-read);
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 1.2em;
    color: var(--heading-color);
    margin: 0 0 15px;
}
.dt-tagline {
    font-size: 1.65rem;
    line-height: 1.2em;
    color: #666;
    font-weight: 300;
    letter-spacing: -.5px;
}

.dt-footer {
    font-family: var(--font-family-read);
    font-size: .96rem;
    color: #666;
    line-height: 1.4em;
    margin-top: 10px;
}
.dt-footer a {
    color: #777;
    text-decoration: underline dotted;
}
.dt-footer a:hover {
    color: #1d66d2;
    font-style: italic;
}

.dt-toTop {
    position: fixed;
    right: 0;
    bottom: 30px;

    color: #666;
    background: #f4f4f4;
    text-decoration: none;
    line-height: 1.2em;
    padding: 3px 6px;
    border-bottom: 2px solid #999;
    border-radius: 10px 0 0 12px;
}
.dt-toTop:hover {
    color: #1d66d2;
    text-decoration: none;
    border-bottom: 1px solid #777;
}


/* Datatable
 * ==================================== */

 :root {
    --base-border-color: #d4d4d4;
    --base-border-color-darken: #c4c4c4;
}

.dt-col-content {
    padding: 5px 6px;
}

.dt-row.th-row-namespace > .dt-col-namespace,
.dt-row.th-row-class {
    border-top: 3px solid var(--base-border-color-darken);
}
.dt-row.th-row-class .dt-col-content {
    height: 100%;
}
.dt-row.th-row-member,
.dt-row.th-row-docs {
    border-top: 1px solid var(--base-border-color-darken);
}

/* Mobile only */
@media (max-width: 960px) {
    .th-row-namespace .th-row-class {
        margin-top: 20px;
        border-left: 1px solid var(--base-border-color);
        border-right: 1px solid var(--base-border-color);
        border-bottom: 1px solid var(--base-border-color);
    }
}

/* Tablet */
@media (min-width: 960px) {
    .dt-col-namespace {
        width: 170px;
    }
    .dt-col-member  {
        width: 200px;
    }
    .dt-row.th-row-namespace {
        border-top: 3px solid var(--base-border-color-darken);
        border-left: 1px solid var(--base-border-color);
        border-right: 1px solid var(--base-border-color);
    }
    .dt-row.th-row-namespace:last-child {
        border-bottom: 1px solid var(--base-border-color);
    }
    .dt-row.th-row-class .dt-col-content {
        border-left: 1px solid var(--base-border-color);
    }
}

/* Desktop */
@media (min-width: 1200px) {
    .dt-col-namespace {
        width: 170px;
    }
    .dt-col-class {
        width: 200px;
        border-left: 0;
    }
    .dt-col-member  {
        width: 300px;
    }
    .dt-row.th-row-docs {
        border-top: 0;
    }
}

.dt-sticky,
.dt-sticky-desktop {
    position: sticky;
    top: 0;
}
.dt-sticky-desktop {
    top: 5px;
}

.th-col-class span:not(:empty),
.th-col-constant span:not(:empty),
.th-col-property span:not(:empty),
.th-col-method span:not(:empty) {
    display: inline-block;
}

.row-method-param,
.row-method-param .key-value-pair {
    display: block !important;
}
.row-method-param {
    margin-left: 12px;
}

.th-col-documentation {
    font-size: .96rem;
    line-height: 1.3em;
    padding: 1px 2px;
}
.dt-doc-tags-table {
    width: 100%;
}

.dt-doc-tags-table p,
.dt-doc-tags-table ul,
.dt-doc-tags-table ol,
.dt-doc-tags-table pre {
    margin: 0;
}
.dt-doc-description p {
    margin-bottom: 5px;
}
* + .dt-doc-tags-table {
    margin-top: 1px;
}

.dt-doc-tags-table,
.dt-doc-tags-table td {
    padding: 0;
    vertical-align: top;
}


 /* Styling
 * ==================================== */

:root {
    --th-row-class-header: #353434;
    --th-row-odd: var(--base-background);
    --th-row-even: rgba(0,0,0,.03);
}

.dt-row.row-odd-even:nth-of-type(odd) {
    background: var(--th-row-odd);
}
.dt-row.row-odd-even:nth-of-type(even) {
    background: var(--th-row-even);
}

.dt-row.row-odd-even:nth-of-type(odd) .row-odd-even {
    background: var(--th-row-even);
}
.dt-row.row-odd-even:nth-of-type(odd) .row-odd-even:nth-of-type(even) {
    background: var(--th-row-odd);
}
.dt-row.row-odd-even:nth-of-type(even) .row-odd-even {
    background: var(--th-row-odd);
}
.dt-row.row-odd-even:nth-of-type(even) .row-odd-even:nth-of-type(even) {
    background: var(--th-row-even);
}

/* Mobile only */
@media (max-width: 960px) {
    .th-col-documentation {
        padding: 6px 2px;
        border-top: 1px dashed var(--base-border-color);
    }
    .th-row-docs .th-col-documentation {
        border-top: 0;
    }
}

/* Lower than Desktop */
@media (max-width: 1199px) {
    .th-row-namespace .dt-col-class {
        background: var(--th-row-class-header);
    }
}

/* Token style */

:root {
    --th-color-name: #9c27b0;
    --th-color-modifier: #ff8000;
    --th-color-type: #0a75e1;
    --th-color-variable: #d32f2f;
    --th-color-tag: #2b9000;
    --th-token-punctuation: #a4a4a4;
}

.th-token-name {
    color: var(--th-color-name);
}
.th-token-modifier {
    color: var(--th-color-modifier);
}
.th-token-keyword,
.th-token-variable {
    color: var(--th-color-variable);
}
.th-token-type {
    color: var(--th-color-type);
}
.th-token-return {
    color: var(--th-color-tag);
    font-style: italic;
}
.th-token-punctuation {
    color: var(--th-token-punctuation);
}

.dt-doc-tag-name {
    color: var(--th-color-tag);
    width: 90px;
}
.dt-doc-tag-type {
    width: 115px;
    color: var(--th-color-type);
}
.dt-doc-tag-variable {
    color: var(--th-color-variable);
    width: 100px;
}

/* === Theme */

/* Theme "default" */
.dt-th-default .dt-col-namespace .th-token-name,
.dt-th-default .dt-col-class .th-token-name,
.dt-th-default .class-extend .th-token-type {
    color: var(--th-color-tag);
}

/* Theme "darkmoon" */
.dt-th-darkmoon {
    --base-color: #888;
    --base-background: #1d2022;
    --base-border-color: #333;
    --base-border-color-darken: #333;
    --heading-color: #ccc;
    --th-row-class-header: #121618;
    --th-row-even: rgba(255,255,255,.03);

    --th-color-name: #b432ca;
    --th-color-modifier: #e39545;
    --th-color-type: #478ed2;
    --th-color-variable: #d44747;
    --th-color-tag: #459f1e;
    --th-token-punctuation: #5b5b5b;
}
.dt-th-darkmoon :not(pre)>code {
    background: rgba(205,217,229,.05);
}
.dt-th-darkmoon pre {
    background: rgba(255,255,555, .04);
}
.dt-th-darkmoon .dt-col-namespace .th-token-name,
.dt-th-darkmoon .dt-col-class .th-token-name,
.dt-th-darkmoon .class-extend .th-token-type {
    color: var(--th-color-tag);
}
